<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKu3sMEpfwCAelNG7sCKpDcn4sAxadjdU</string>
	<key>GCM_SENDER_ID</key>
	<string>757892211534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.penggarisDigital</string>
	<key>PROJECT_ID</key>
	<string>penggaris-digital-af2f1</string>
	<key>STORAGE_BUCKET</key>
	<string>penggaris-digital-af2f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757892211534:ios:af602d19bd45e55224b41f</string>
	<key>DATABASE_URL</key>
	<string>https://penggaris-digital-af2f1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>